<!-- HEADER -->
	<header id="header">
		<nav class="navbar st-navbar navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#st-navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
				    	<span class="icon-bar"></span>
				    	<span class="icon-bar"></span>
				    	<span class="icon-bar"></span>
					</button>
					<a class="logo"><%= link_to (image_tag asset_path("logo.png")), "http://www.saudedafamilia.org", :target => "_blank" %></a>
				</div>

				<div class="collapse navbar-collapse" id="st-navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><%= link_to "Início", root_path(:anchor => "header"), :target => "_top" %></li>
						<li><%= link_to "Gerências", root_path(:anchor => "gerencias"), :target => "_top" %></li>
						<li><%= link_to "Painel do CG", root_path(:anchor => "painel"), :target => "_top" %></li>
						<li><%= link_to "Boletim Informativo", root_path(:anchor => "noticias"), :target => "_top" %></li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container -->
		</nav>
	</header>
<!-- /HEADER -->

<!-- PAGE HEADER -->
	<section id="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title">
						<h1>Gerência de Recursos Humanos</h1>
						<span class="st-border"></span>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- /PAGE HEADER -->


<!-- BLOG -->
	<section id="blog">
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					
					<!-- TLP -->
					<div class="single-blog">
						<article>
							<div class="post-thumb"><%= image_tag asset_path("gi/logo_gi_3.jpg", :class => "img-responsive", :alt => "") %></div>
							<h4 class="post-title">TLP - Tabela de Lotação de Pessoas</h4>
							<div class="post-meta text-uppercase">
								<span>Última atualização em 8 de agosto de 2016</span>
							</div>
							<div class="post-article" align=justify>
								A Tabela de Lotação de Pessoas (TLP) retrata o número necessário de profissionais na Estratégia Saúde da Família (ESF) das Regiões Capela do Socorro e Parelheiros. A periodicidade de atualização deste relatório é mensal. Nele estão contidas informações sobre o quadro previsto e atual, por categoria profissional, de cada Unidade Básica de Saúde com ESF.
							</div>
						

							<div class="portfolio-wrapper-tlp" >
								<div class="col-md-12">
									<ul class="filter-tlp">  			
										<li><a class="active" href="#" data-filter="*">Todos</a></li>	
										<li><a href="#" data-filter=".capela">STS Capela do Socorro</a></li>
										<li><a href="#" data-filter=".parelheiros">STS Parelheiros</a></li>
										<li><a href="#" data-filter=".nasf">NASF</a></li>
									</ul><!--/#portfolio-filter-->
								</div>
						
								<div class="portfolio-items-tlp">
									<!-- Capela do Socorro -->
									<div class="col-md-4 col-sm-6 work-grid-tlp capela">
										<div class="portfolio-content-tlp">
											<%= image_tag asset_path("reports/gh/tlp_cap_01.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-tlp">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/tlp/TLP_Capela_012016.pdf"), :target => "_blank"  %>
												<h5>TLP</h5>
												<p>STS Capela do Socorro - Jan/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-tlp capela">
										<div class="portfolio-content-tlp">
											<%= image_tag asset_path("reports/gh/tlp_cap_02.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-tlp">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/tlp/TLP_Capela_022016.pdf"), :target => "_blank"  %>
												<h5>TLP</h5>
												<p>STS Capela do Socorro - Fev/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-tlp capela">
										<div class="portfolio-content-tlp">
											<%= image_tag asset_path("reports/gh/tlp_cap_03.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-tlp">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/tlp/TLP_Capela_032016.pdf"), :target => "_blank"  %>
												<h5>TLP</h5>
												<p>STS Capela do Socorro - Mar/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-tlp capela">
										<div class="portfolio-content-tlp">
											<%= image_tag asset_path("reports/gh/tlp_cap_04.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-tlp">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/tlp/TLP_Capela_042016.pdf"), :target => "_blank"  %>
												<h5>TLP</h5>
												<p>STS Capela do Socorro - Abr/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-tlp capela">
										<div class="portfolio-content-tlp">
											<%= image_tag asset_path("reports/gh/tlp_cap_05.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-tlp">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/tlp/TLP_Capela_052016.pdf"), :target => "_blank"  %>
												<h5>TLP</h5>
												<p>STS Capela do Socorro - Mai/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-tlp capela">
										<div class="portfolio-content-tlp">
											<%= image_tag asset_path("reports/gh/tlp_cap_06.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-tlp">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/tlp/TLP_Capela_062016.pdf"), :target => "_blank"  %>
												<h5>TLP</h5>
												<p>STS Capela do Socorro - Jun/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-tlp capela">
										<div class="portfolio-content-tlp">
											<%= image_tag asset_path("reports/gh/tlp_cap_07.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-tlp">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/tlp/TLP_Capela_072016.pdf"), :target => "_blank"  %>
												<h5>TLP</h5>
												<p>STS Capela do Socorro - Jul/16</p>
											</div>
										</div>	
									</div>
									<!-- /#Capela do Socorro -->

									<!-- Parelheiros -->
									<div class="col-md-4 col-sm-6 work-grid-tlp parelheiros">
										<div class="portfolio-content-tlp">
											<%= image_tag asset_path("reports/gh/tlp_par_01.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-tlp">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/tlp/TLP_Parelheiros_012016.pdf"), :target => "_blank"  %>
												<h5>TLP</h5>
												<p>STS Parelheiros - Jan/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-tlp parelheiros">
										<div class="portfolio-content-tlp">
											<%= image_tag asset_path("reports/gh/tlp_par_02.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-tlp">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/tlp/TLP_Parelheiros_022016.pdf"), :target => "_blank"  %>
												<h5>TLP</h5>
												<p>STS Parelheiros - Fev/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-tlp parelheiros">
										<div class="portfolio-content-tlp">
											<%= image_tag asset_path("reports/gh/tlp_par_03.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-tlp">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/tlp/TLP_Parelheiros_032016.pdf"), :target => "_blank"  %>
												<h5>TLP</h5>
												<p>STS Parelheiros - Mar/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-tlp parelheiros">
										<div class="portfolio-content-tlp">
											<%= image_tag asset_path("reports/gh/tlp_par_04.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-tlp">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/tlp/TLP_Parelheiros_042016.pdf"), :target => "_blank"  %>
												<h5>TLP</h5>
												<p>STS Parelheiros - Abr/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-tlp parelheiros">
										<div class="portfolio-content-tlp">
											<%= image_tag asset_path("reports/gh/tlp_par_05.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-tlp">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/tlp/TLP_Parelheiros_052016.pdf"), :target => "_blank"  %>
												<h5>TLP</h5>
												<p>STS Parelheiros - Mai/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-tlp parelheiros">
										<div class="portfolio-content-tlp">
											<%= image_tag asset_path("reports/gh/tlp_par_06.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-tlp">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/tlp/TLP_Parelheiros_062016.pdf"), :target => "_blank"  %>
												<h5>TLP</h5>
												<p>STS Parelheiros - Jun/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-tlp parelheiros">
										<div class="portfolio-content-tlp">
											<%= image_tag asset_path("reports/gh/tlp_par_07.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-tlp">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/tlp/TLP_Parelheiros_072016.pdf"), :target => "_blank"  %>
												<h5>TLP</h5>
												<p>STS Parelheiros - Jul/16</p>
											</div>
										</div>	
									</div>
									<!-- /#Parelheiros -->

									<!-- NASF -->
									<div class="col-md-4 col-sm-6 work-grid-tlp nasf">
										<div class="portfolio-content-tlp">
											<%= image_tag asset_path("reports/gh/tlp_nasf_01.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-tlp">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/tlp/TLP_NASF_012016.pdf"), :target => "_blank"  %>
												<h5>TLP</h5>
												<p>NASF - Jan/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-tlp nasf">
										<div class="portfolio-content-tlp">
											<%= image_tag asset_path("reports/gh/tlp_nasf_02.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-tlp">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/tlp/TLP_NASF_022016.pdf"), :target => "_blank"  %>
												<h5>TLP</h5>
												<p>NASF - Fev/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-tlp nasf">
										<div class="portfolio-content-tlp">
											<%= image_tag asset_path("reports/gh/tlp_nasf_03.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-tlp">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/tlp/TLP_NASF_032016.pdf"), :target => "_blank"  %>
												<h5>TLP</h5>
												<p>NASF - Mar/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-tlp nasf">
										<div class="portfolio-content-tlp">
											<%= image_tag asset_path("reports/gh/tlp_nasf_04.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-tlp">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/tlp/TLP_NASF_042016.pdf"), :target => "_blank"  %>
												<h5>TLP</h5>
												<p>NASF - Abr/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-tlp nasf">
										<div class="portfolio-content-tlp">
											<%= image_tag asset_path("reports/gh/tlp_nasf_05.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-tlp">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/tlp/TLP_NASF_052016.pdf"), :target => "_blank"  %>
												<h5>TLP</h5>
												<p>NASF - Mai/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-tlp nasf">
										<div class="portfolio-content-tlp">
											<%= image_tag asset_path("reports/gh/tlp_nasf_06.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-tlp">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/tlp/TLP_NASF_062016.pdf"), :target => "_blank"  %>
												<h5>TLP</h5>
												<p>NASF - Mai/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-tlp nasf">
										<div class="portfolio-content-tlp">
											<%= image_tag asset_path("reports/gh/tlp_nasf_07.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-tlp">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/tlp/TLP_NASF_072016.pdf"), :target => "_blank"  %>
												<h5>TLP</h5>
												<p>NASF - Mai/16</p>
											</div>
										</div>	
									</div>
									<!-- /#NASF -->
								</div>				
							</div>	
						</article>
					</div>
					<hr>
					<!-- /TLP -->

					<!-- Equipe Mínima -->
					<div class="single-blog">
						<article>
							<div class="post-thumb"><%= image_tag asset_path("gi/logo_gi_3.jpg", :class => "img-responsive", :alt => "") %></div>
							<h4 class="post-title">Relatório Equipe Mínima - Contrato de Gestão</h4>
							<div class="post-meta text-uppercase">
								<span>Última atualização em 7 de julho de 2016</span>
							</div>
							<div class="post-article" align=justify>
								Relatório de Equipe Mínima compreende os funcionários da administração direta e contratados pelas ASF. As metas de Equipe Mínima podem ser alteradas para atendimento de padronização de SMS, decorrentes de avaliação das CRS/STS(s) e/ou mudanças de perfil de unidade; sendo necessário para tanto sua formalização por Termo Aditivo. A medição da equipe mínima, ocorre mensalmente para fins de verificação do cumprimento de meta do contrato.
							</div>
						

							<div class="portfolio-wrapper-em" >
								<div class="col-md-12">
									<ul class="filter-em">  			
										<li><a class="active" href="#" data-filter="*">Todos</a></li>	
										<li><a href="#" data-filter=".capela">STS Capela do Socorro</a></li>
										<li><a href="#" data-filter=".parelheiros">STS Parelheiros</a></li>
									</ul><!--/#portfolio-filter-->
								</div>
						
								<div class="portfolio-items-em">
									<!-- STS Capela do Socorro -->
									<div class="col-md-4 col-sm-6 work-grid-em capela">
										<div class="portfolio-content-em">
											<%= image_tag asset_path("reports/gh/eq_cap_01.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-em">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/equipe_minima/Equipe_Minima_Capela_012016.pdf"), :target => "_blank"  %>
												<h5>Equipe Mínima</h5>
												<p>STS Capela do Socorro - Jan/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-em capela">
										<div class="portfolio-content-em">
											<%= image_tag asset_path("reports/gh/eq_cap_02.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-em">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/equipe_minima/Equipe_Minima_Capela_022016.pdf"), :target => "_blank"  %>
												<h5>Equipe Mínima</h5>
												<p>STS Capela do Socorro - Fev/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-em capela">
										<div class="portfolio-content-em">
											<%= image_tag asset_path("reports/gh/eq_cap_03.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-em">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/equipe_minima/Equipe_Minima_Capela_032016.pdf"), :target => "_blank"  %>
												<h5>Equipe Mínima</h5>
												<p>STS Capela do Socorro - Mar/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-em capela">
										<div class="portfolio-content-em">
											<%= image_tag asset_path("reports/gh/eq_cap_04.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-em">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/equipe_minima/Equipe_Minima_Capela_042016.pdf"), :target => "_blank"  %>
												<h5>Equipe Mínima</h5>
												<p>STS Capela do Socorro - Abr/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-em capela">
										<div class="portfolio-content-em">
											<%= image_tag asset_path("reports/gh/eq_cap_05.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-em">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/equipe_minima/Equipe_Minima_Capela_052016.pdf"), :target => "_blank"  %>
												<h5>Equipe Mínima</h5>
												<p>STS Capela do Socorro - Mai/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-em capela">
										<div class="portfolio-content-em">
											<%= image_tag asset_path("reports/gh/eq_cap_06.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-em">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/equipe_minima/Equipe_Minima_Capela_062016.pdf"), :target => "_blank"  %>
												<h5>Equipe Mínima</h5>
												<p>STS Capela do Socorro - Jun/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-em capela">
										<div class="portfolio-content-em">
											<%= image_tag asset_path("reports/gh/eq_cap_07.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-em">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/equipe_minima/Equipe_Minima_Capela_072016.pdf"), :target => "_blank"  %>
												<h5>Equipe Mínima</h5>
												<p>STS Capela do Socorro - Jul/16</p>
											</div>
										</div>	
									</div>

									<!-- /STS Capela do Socorro -->

									<!-- STS Parelheiros -->
									<div class="col-md-4 col-sm-6 work-grid-em parelheiros">
										<div class="portfolio-content-em">
											<%= image_tag asset_path("reports/gh/eq_par_01.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-em">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/equipe_minima/Equipe_Minima_Parelheiros_012016.pdf"), :target => "_blank"  %>
												<h5>Equipe Mínima</h5>
												<p>STS Parelheiros - Jan/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-em parelheiros">
										<div class="portfolio-content-em">
											<%= image_tag asset_path("reports/gh/eq_par_02.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-em">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/equipe_minima/Equipe_Minima_Parelheiros_022016.pdf"), :target => "_blank"  %>
												<h5>Equipe Mínima</h5>
												<p>STS Parelheiros - Fev/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-em parelheiros">
										<div class="portfolio-content-em">
											<%= image_tag asset_path("reports/gh/eq_par_03.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-em">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/equipe_minima/Equipe_Minima_Parelheiros_032016.pdf"), :target => "_blank"  %>
												<h5>Equipe Mínima</h5>
												<p>STS Parelheiros - Mar/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-em parelheiros">
										<div class="portfolio-content-em">
											<%= image_tag asset_path("reports/gh/eq_par_04.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-em">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/equipe_minima/Equipe_Minima_Parelheiros_042016.pdf"), :target => "_blank"  %>
												<h5>Equipe Mínima</h5>
												<p>STS Parelheiros - Abr/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-em parelheiros">
										<div class="portfolio-content-em">
											<%= image_tag asset_path("reports/gh/eq_par_05.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-em">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/equipe_minima/Equipe_Minima_Parelheiros_052016.pdf"), :target => "_blank"  %>
												<h5>Equipe Mínima</h5>
												<p>STS Parelheiros - Mai/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-em parelheiros">
										<div class="portfolio-content-em">
											<%= image_tag asset_path("reports/gh/eq_par_06.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-em">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/equipe_minima/Equipe_Minima_Parelheiros_062016.pdf"), :target => "_blank"  %>
												<h5>Equipe Mínima</h5>
												<p>STS Parelheiros - Jun/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-em parelheiros">
										<div class="portfolio-content-em">
											<%= image_tag asset_path("reports/gh/eq_par_07.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-em">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/equipe_minima/Equipe_Minima_Parelheiros_072016.pdf"), :target => "_blank"  %>
												<h5>Equipe Mínima</h5>
												<p>STS Parelheiros - Jul/16</p>
											</div>
										</div>	
									</div>

									<!-- /STS Parelheiros -->
								</div>				
							</div>	
						</article>
					</div>
					<hr>
					<!-- /Equipe Mínima -->

					<!-- Movimentação -->
					<div class="single-blog">
						<article>
							<div class="post-thumb"><%= image_tag asset_path("gi/logo_gi_3.jpg", :class => "img-responsive", :alt => "") %></div>
							<h4 class="post-title">Relatório de Contratados, Desligados, Férias, Faltas e Ausências</h4>
							<div class="post-meta text-uppercase">
								<span>Última atualização em 8 de agosto de 2016</span>
							</div>
							<div class="post-article" align=justify>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error accusamus, repudiandae tenetur itaque rem sapiente inventore vel deserunt officiis, facilis veritatis doloremque debitis id perferendis, eveniet esse molestiae eum minus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error accusamus, repudiandae tenetur itaque rem sapiente inventore vel deserunt officiis, facilis veritatis doloremque debitis id perferendis, eveniet esse molestiae
							</div>
						

							<div class="portfolio-wrapper-mov" >
								<div class="col-md-12">
									<ul class="filter-mov">  			
										<li><a class="active" href="#" data-filter="*">Todos</a></li>	
										<li><a href="#" data-filter=".capela">STS Capela do Socorro</a></li>
										<li><a href="#" data-filter=".parelheiros">STS Parelheiros</a></li>
										<li><a href="#" data-filter=".movimentacao">Movimentação</a></li>
										<li><a href="#" data-filter=".ausencia">Ausência</a></li>
									</ul><!--/#portfolio-filter-->
								</div>
						
								<div class="portfolio-items-mov">
									<!-- STS Capela do Socorro -->
									<div class="col-md-4 col-sm-6 work-grid-mov capela movimentacao">
										<div class="portfolio-content-mov">
											<%= image_tag asset_path("reports/gh/mov_cap_01.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-mov">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/movimentacao/Movimentacao_Capela_012016.pdf"), :target => "_blank"  %>
												<h5>Movimentação</h5>
												<p>STS Capela do Socorro - Jan/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-mov capela ausencia">
										<div class="portfolio-content-mov">
											<%= image_tag asset_path("reports/gh/mov_cap_02.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-mov">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/movimentacao/Ausencia_Capela_012016.pdf"), :target => "_blank"  %>
												<h5>Ausência</h5>
												<p>STS Capela do Socorro - Jan/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-mov capela movimentacao">
										<div class="portfolio-content-mov">
											<%= image_tag asset_path("reports/gh/mov_cap_03.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-mov">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/movimentacao/Movimentacao_Capela_022016.pdf"), :target => "_blank"  %>
												<h5>Movimentação</h5>
												<p>STS Capela do Socorro - Fev/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-mov capela ausencia">
										<div class="portfolio-content-mov">
											<%= image_tag asset_path("reports/gh/mov_cap_04.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-mov">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/movimentacao/Ausencia_Capela_022016.pdf"), :target => "_blank"  %>
												<h5>Ausência</h5>
												<p>STS Capela do Socorro - Fev/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-mov capela movimentacao">
										<div class="portfolio-content-mov">
											<%= image_tag asset_path("reports/gh/mov_cap_05.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-mov">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/movimentacao/Movimentacao_Capela_032016.pdf"), :target => "_blank"  %>
												<h5>Movimentação</h5>
												<p>STS Capela do Socorro - Mar/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-mov capela ausencia">
										<div class="portfolio-content-mov">
											<%= image_tag asset_path("reports/gh/mov_cap_06.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-mov">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/movimentacao/Ausencia_Capela_032016.pdf"), :target => "_blank"  %>
												<h5>Ausência</h5>
												<p>STS Capela do Socorro - Mar/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-mov capela movimentacao">
										<div class="portfolio-content-mov">
											<%= image_tag asset_path("reports/gh/mov_cap_07.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-mov">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/movimentacao/Movimentacao_Capela_042016.pdf"), :target => "_blank"  %>
												<h5>Movimentação</h5>
												<p>STS Capela do Socorro - Abr/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-mov capela ausencia">
										<div class="portfolio-content-mov">
											<%= image_tag asset_path("reports/gh/mov_cap_08.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-mov">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/movimentacao/Ausencia_Capela_042016.pdf"), :target => "_blank"  %>
												<h5>Ausência</h5>
												<p>STS Capela do Socorro - Abr/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-mov capela movimentacao">
										<div class="portfolio-content-mov">
											<%= image_tag asset_path("reports/gh/mov_cap_09.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-mov">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/movimentacao/Movimentacao_Capela_052016.pdf"), :target => "_blank"  %>
												<h5>Movimentação</h5>
												<p>STS Capela do Socorro - Mai/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-mov capela ausencia">
										<div class="portfolio-content-mov">
											<%= image_tag asset_path("reports/gh/mov_cap_10.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-mov">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/movimentacao/Ausencia_Capela_052016.pdf"), :target => "_blank"  %>
												<h5>Ausência</h5>
												<p>STS Capela do Socorro - Mai/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-mov capela movimentacao">
										<div class="portfolio-content-mov">
											<%= image_tag asset_path("reports/gh/mov_cap_11.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-mov">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/movimentacao/Movimentacao_Capela_062016.pdf"), :target => "_blank"  %>
												<h5>Movimentação</h5>
												<p>STS Capela do Socorro - Junho/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-mov capela ausencia">
										<div class="portfolio-content-mov">
											<%= image_tag asset_path("reports/gh/mov_cap_12.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-mov">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/movimentacao/Ausencia_Capela_062016.pdf"), :target => "_blank"  %>
												<h5>Ausência</h5>
												<p>STS Capela do Socorro - Junho/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-mov capela movimentacao">
										<div class="portfolio-content-mov">
											<%= image_tag asset_path("reports/gh/mov_cap_13.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-mov">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/movimentacao/Movimentacao_Capela_072016.pdf"), :target => "_blank"  %>
												<h5>Movimentação</h5>
												<p>STS Capela do Socorro - Julho/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-mov capela ausencia">
										<div class="portfolio-content-mov">
											<%= image_tag asset_path("reports/gh/mov_cap_14.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-mov">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/movimentacao/Ausencia_Capela_072016.pdf"), :target => "_blank"  %>
												<h5>Ausência</h5>
												<p>STS Capela do Socorro - Julho/16</p>
											</div>
										</div>	
									</div>
									<!-- /STS Capela do Socorro -->

									<!-- STS Parelheiros -->
									<div class="col-md-4 col-sm-6 work-grid-mov parelheiros movimentacao">
										<div class="portfolio-content-mov">
											<%= image_tag asset_path("reports/gh/mov_par_01.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-mov">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/movimentacao/Movimentacao_Parelheiros_012016.pdf"), :target => "_blank"  %>
												<h5>Movimentação</h5>
												<p>STS Parelheiros - Jan/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-mov parelheiros ausencia">
										<div class="portfolio-content-mov">
											<%= image_tag asset_path("reports/gh/mov_par_02.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-mov">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/movimentacao/Ausencia_Parelheiros_012016.pdf"), :target => "_blank"  %>
												<h5>Ausência</h5>
												<p>STS Parelheiros - Jan/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-mov parelheiros movimentacao">
										<div class="portfolio-content-mov">
											<%= image_tag asset_path("reports/gh/mov_par_03.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-mov">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/movimentacao/Movimentacao_Parelheiros_022016.pdf"), :target => "_blank"  %>
												<h5>Movimentação</h5>
												<p>STS Parelheiros - Fev/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-mov parelheiros ausencia">
										<div class="portfolio-content-mov">
											<%= image_tag asset_path("reports/gh/mov_par_04.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-mov">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/movimentacao/Ausencia_Parelheiros_022016.pdf"), :target => "_blank"  %>
												<h5>Ausência</h5>
												<p>STS Parelheiros - Fev/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-mov parelheiros movimentacao">
										<div class="portfolio-content-mov">
											<%= image_tag asset_path("reports/gh/mov_par_05.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-mov">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/movimentacao/Movimentacao_Parelheiros_032016.pdf"), :target => "_blank"  %>
												<h5>Movimentação</h5>
												<p>STS Parelheiros - Mar/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-mov parelheiros ausencia">
										<div class="portfolio-content-mov">
											<%= image_tag asset_path("reports/gh/mov_par_06.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-mov">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/movimentacao/Ausencia_Parelheiros_032016.pdf"), :target => "_blank"  %>
												<h5>Ausência</h5>
												<p>STS Parelheiros - Mar/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-mov parelheiros movimentacao">
										<div class="portfolio-content-mov">
											<%= image_tag asset_path("reports/gh/mov_par_07.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-mov">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/movimentacao/Movimentacao_Parelheiros_042016.pdf"), :target => "_blank"  %>
												<h5>Movimentação</h5>
												<p>STS Parelheiros - Abr/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-mov parelheiros ausencia">
										<div class="portfolio-content-mov">
											<%= image_tag asset_path("reports/gh/mov_par_08.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-mov">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/movimentacao/Ausencia_Parelheiros_042016.pdf"), :target => "_blank"  %>
												<h5>Ausência</h5>
												<p>STS Parelheiros - Abr/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-mov parelheiros movimentacao">
										<div class="portfolio-content-mov">
											<%= image_tag asset_path("reports/gh/mov_par_09.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-mov">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/movimentacao/Movimentacao_Parelheiros_052016.pdf"), :target => "_blank"  %>
												<h5>Movimentação</h5>
												<p>STS Parelheiros - Mai/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-mov parelheiros ausencia">
										<div class="portfolio-content-mov">
											<%= image_tag asset_path("reports/gh/mov_par_10.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-mov">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/movimentacao/Ausencia_Parelheiros_052016.pdf"), :target => "_blank"  %>
												<h5>Ausência</h5>
												<p>STS Parelheiros - Mai/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-mov parelheiros movimentacao">
										<div class="portfolio-content-mov">
											<%= image_tag asset_path("reports/gh/mov_par_11.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-mov">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/movimentacao/Movimentacao_Parelheiros_062016.pdf"), :target => "_blank"  %>
												<h5>Movimentação</h5>
												<p>STS Parelheiros - Junho/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-mov parelheiros ausencia">
										<div class="portfolio-content-mov">
											<%= image_tag asset_path("reports/gh/mov_par_12.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-mov">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/movimentacao/Ausencia_Parelheiros_062016.pdf"), :target => "_blank"  %>
												<h5>Ausência</h5>
												<p>STS Parelheiros - Junho/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-mov parelheiros movimentacao">
										<div class="portfolio-content-mov">
											<%= image_tag asset_path("reports/gh/mov_par_13.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-mov">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/movimentacao/Movimentacao_Parelheiros_072016.pdf"), :target => "_blank"  %>
												<h5>Movimentação</h5>
												<p>STS Parelheiros - Julho/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-mov parelheiros ausencia">
										<div class="portfolio-content-mov">
											<%= image_tag asset_path("reports/gh/mov_par_14.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-mov">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/movimentacao/Ausencia_Parelheiros_072016.pdf"), :target => "_blank"  %>
												<h5>Ausência</h5>
												<p>STS Parelheiros - Julho/16</p>
											</div>
										</div>	
									</div>
									<!-- /STS Parelheiros -->
								</div>				
							</div>	
						</article>
					</div>
					<hr>
					<!-- /Movimentação -->

					<!-- Déficit Médico -->
					<div class="single-blog">
						<article>
							<div class="post-thumb"><%= image_tag asset_path("gi/logo_gi_3.jpg", :class => "img-responsive", :alt => "") %></div>
							<h4 class="post-title">Relatório de Déficit Médico</h4>
							<div class="post-meta text-uppercase">
								<span>Última atualização em 8 de agosto de 2016</span>
							</div>
							<div class="post-article" align=justify>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error accusamus, repudiandae tenetur itaque rem sapiente inventore vel deserunt officiis, facilis veritatis doloremque debitis id perferendis, eveniet esse molestiae eum minus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error accusamus, repudiandae tenetur itaque rem sapiente inventore vel deserunt officiis, facilis veritatis doloremque debitis id perferendis, eveniet esse molestiae
							</div>
						

							<div class="portfolio-wrapper-med" >
								<div class="col-md-12">
									<ul class="filter-med">  			
										<li><a class="active" href="#" data-filter="*">Todos</a></li>	
										<li><a href="#" data-filter=".capela">STS Capela do Socorro</a></li>
										<li><a href="#" data-filter=".parelheiros">STS Parelheiros</a></li>
									</ul><!--/#portfolio-filter-->
								</div>
						
								<div class="portfolio-items-med">
									<!-- STS Capela do Socorro -->
									<div class="col-md-4 col-sm-6 work-grid-med capela">
										<div class="portfolio-content-med">
											<%= image_tag asset_path("reports/gh/med_cap_01.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-med">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/deficit_medico/Deficit_Medico_Capela_012016.pdf"), :target => "_blank"  %>
												<h5>Déficit Médico</h5>
												<p>STS Capela do Socorro - Jan/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-med capela">
										<div class="portfolio-content-med">
											<%= image_tag asset_path("reports/gh/med_cap_02.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-med">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/deficit_medico/Deficit_Medico_Capela_022016.pdf"), :target => "_blank"  %>
												<h5>Déficit Médico</h5>
												<p>STS Capela do Socorro - Fev/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-med capela">
										<div class="portfolio-content-med">
											<%= image_tag asset_path("reports/gh/med_cap_03.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-med">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/deficit_medico/Deficit_Medico_Capela_032016.pdf"), :target => "_blank"  %>
												<h5>Déficit Médico</h5>
												<p>STS Capela do Socorro - Mar/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-med capela">
										<div class="portfolio-content-med">
											<%= image_tag asset_path("reports/gh/med_cap_04.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-med">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/deficit_medico/Deficit_Medico_Capela_042016.pdf"), :target => "_blank"  %>
												<h5>Déficit Médico</h5>
												<p>STS Capela do Socorro - Abr/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-med capela">
										<div class="portfolio-content-med">
											<%= image_tag asset_path("reports/gh/med_cap_05.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-med">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/deficit_medico/Deficit_Medico_Capela_052016.pdf"), :target => "_blank"  %>
												<h5>Déficit Médico</h5>
												<p>STS Capela do Socorro - Mai/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-med capela">
										<div class="portfolio-content-med">
											<%= image_tag asset_path("reports/gh/med_cap_06.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-med">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/deficit_medico/Deficit_Medico_Capela_062016.pdf"), :target => "_blank"  %>
												<h5>Déficit Médico</h5>
												<p>STS Capela do Socorro - Jun/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-med capela">
										<div class="portfolio-content-med">
											<%= image_tag asset_path("reports/gh/med_cap_07.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-med">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/deficit_medico/Deficit_Medico_Capela_072016.pdf"), :target => "_blank"  %>
												<h5>Déficit Médico</h5>
												<p>STS Capela do Socorro - Jul/16</p>
											</div>
										</div>	
									</div>
									<!-- /STS Capela do Socorro -->

									<!-- STS Parelheiros -->
									<div class="col-md-4 col-sm-6 work-grid-med parelheiros">
										<div class="portfolio-content-med">
											<%= image_tag asset_path("reports/gh/med_par_01.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-med">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/deficit_medico/Deficit_Medico_Parelheiros_012016.pdf"), :target => "_blank"  %>
												<h5>Déficit Médico</h5>
												<p>STS Parelheiros - Jan/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-med parelheiros">
										<div class="portfolio-content-med">
											<%= image_tag asset_path("reports/gh/med_par_02.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-med">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/deficit_medico/Deficit_Medico_Parelheiros_022016.pdf"), :target => "_blank"  %>
												<h5>Déficit Médico</h5>
												<p>STS Parelheiros - Fev/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-med parelheiros">
										<div class="portfolio-content-med">
											<%= image_tag asset_path("reports/gh/med_par_03.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-med">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/deficit_medico/Deficit_Medico_Parelheiros_032016.pdf"), :target => "_blank"  %>
												<h5>Déficit Médico</h5>
												<p>STS Parelheiros - Mar/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-med parelheiros">
										<div class="portfolio-content-med">
											<%= image_tag asset_path("reports/gh/med_par_04.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-med">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/deficit_medico/Deficit_Medico_Parelheiros_042016.pdf"), :target => "_blank"  %>
												<h5>Déficit Médico</h5>
												<p>STS Parelheiros - Abr/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-med parelheiros">
										<div class="portfolio-content-med">
											<%= image_tag asset_path("reports/gh/med_par_05.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-med">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/deficit_medico/Deficit_Medico_Parelheiros_052016.pdf"), :target => "_blank"  %>
												<h5>Déficit Médico</h5>
												<p>STS Parelheiros - Mai/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-med parelheiros">
										<div class="portfolio-content-med">
											<%= image_tag asset_path("reports/gh/med_par_06.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-med">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/deficit_medico/Deficit_Medico_Parelheiros_062016.pdf"), :target => "_blank"  %>
												<h5>Déficit Médico</h5>
												<p>STS Parelheiros - Jun/16</p>
											</div>
										</div>	
									</div>

									<div class="col-md-4 col-sm-6 work-grid-med parelheiros">
										<div class="portfolio-content-med">
											<%= image_tag asset_path("reports/gh/med_par_07.jpg", :class => "img-responsive", :alt => "") %>
											<div class="portfolio-overlay-med">
												<%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, asset_path("reports/gh/deficit_medico/Deficit_Medico_Parelheiros_072016.pdf"), :target => "_blank"  %>
												<h5>Déficit Médico</h5>
												<p>STS Parelheiros - Jul/16</p>
											</div>
										</div>	
									</div>
									<!-- /STS Parelheiros -->
								</div>				
							</div>	
						</article>
					</div>
					<hr>
					<!-- /Déficit Médico -->


				</div>
				<div class="col-md-3">
					<div class="sidebar-widget">
						<h4 class="sidebar-title">Tags</h4>
						<div class="tagcloud">
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /BLOG -->